// footer
footer.footer
    .footer_main_row
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos soluta id autem cupiditate! Nam voluptatum illum nisi natus suscipit dolor illo inventore eveniet quas totam, eligendi ipsa odio, numquam deleniti!
