/*------------------------------------------ footer styles -------------------------------------------*/

//------------------------------------------------------------layout
.footer{
    height: $height_footer;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    will-change: transform;
}
.footer_main_row{
    padding: 0 $gl_indent;
}
//------------------------------------------------------------layout end

/*----------------------------------------- footer styles end ------------------------------------------*/