/*------------------------------------------ footer styles -------------------------------------------*/

//------------------------------------------------------------layout
.footer{
    width: 100%;
    height: $height_footer;
    flex-shrink: 0;
}
.footer_main_row{
    max-width: $page_width;
    padding: 0 $gl_indent;
    margin: 0 auto;
}
//------------------------------------------------------------layout end

/*----------------------------------------- footer styles end ------------------------------------------*/