//---------------------------------------------- loader
@include loader("../img/loader.svg");

/*---------------------------------------------- header styles -----------------------------------------*/

//------------------------------------------------------------ layout
.header {
  width: 100%;
}
.header_main_row{
  @include flex_block(row, nowrap, space-between, center, center);
  max-width: $page_width;
  height:$height_header;
  padding: 0 $gl_indent;
  margin: 0 auto;
}
//------------------------------------------------------------ layout end

//------------------------------------------------------------ burger_button
.menu-button {
	display: inline-block;
	padding: .5em;
	background-color: #fafafa;
	border: 1px solid #ccc;
  border-radius: 3px;
}

.burger-icon {
max-width: $page_width;	@include burger(25px, 3px, 5px, #444);
}

.menu-button.is-active .burger-icon {
	@include burger-to-cross;
}
//------------------------------------------------------------ burger_button end

.icon-check{
  font-size: 2rem;
  &.green_mod {
    color:green;
  }
}

/*--------------------------------------- header styles end --------------------------------------------*/